body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, #2e3487, #02032a);
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

#title {
    font-weight: 900;
    font-size: 32px;
    color: #ffd300;
    text-shadow: -5px 5px 0px #111;
}

#card-group {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    align-self: center;
}

.card {
    display: flex;
    width: 90%;
    height: 200px;
    background-color: white;
    border: 5px solid #222;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    flex-direction: row;
    align-self: center;
    box-shadow: -12px 15px 0px #222;
}

.personal {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.personal-img {
    width: 70%;
    height: 62%;
    object-fit: cover;
    border-radius: 50%;
    border-color: #222;
}

.personal i {
    font-size: 32px;
    color: #2e3487;
}

.profile {
    display: flex;
    margin-top: 10px;
    width: 60%;
    align-items: flex-start;
    flex-direction: column;
}

.profile h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile p {
    font-size: 14px;
    color: #888;
    text-align: left;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}